@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideToRight {
  from {
    right: 100%;
  }
  to {
    right: 0px;
  }
}
@keyframes slideLeftToRight {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes slideToLeft {
  from {
    left: 100px;
  }
  to {
    left: 0px;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-content {
  padding-left: 10%;
  padding-right: 10%;
}

.button {
  background-color: #879cfc;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.2);
}

.img object {
  border-radius: 20%;
}

.btn-svg {
  position: relative;
  display: inline-block;
}

.btn-svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn-svg:hover {
  transform: translateY(-5px);
  fill: aquamarine;
}

.bg {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.bg .bg-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.bg .bg-container .side-a {
  flex: 1;
}
.bg .bg-container .side-a h1 {
  font-size: 50px;
}
.bg .bg-container .side-a .intro-text {
  text-align: right;
  animation: fade 1s, slideToRight 1s;
  animation-fill-mode: forwards;
  position: relative;
  padding: 40px;
}
.bg .bg-container .side-a a {
  opacity: 0;
  text-decoration: none;
  animation: fade 1s, slideToRight 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  position: relative;
}
.bg .bg-container .side-a .web-info {
  opacity: 0;
  display: flex;
  position: absolute;
  bottom: 0px;
  animation: fade 1s, slideLeftToRight 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
}
.bg .bg-container .side-a .web-info img {
  height: 90px;
  width: 130px;
}
.bg .bg-container .side-a .web-info img:hover {
  animation: rotate 0.5s;
}
.bg .bg-container .side-a .web-info p {
  margin-top: 40px;
  font-size: small;
}
.bg .bg-container .side-b {
  flex: 1;
  display: flex;
}
.bg .bg-container .side-b div {
  text-align: left;
  animation: fade 1s, slideToLeft 1s;
  animation-fill-mode: forwards;
  position: relative;
}
.bg .bg-container .side-b .dp {
  width: 650px;
  height: 650px;
  background-image: url(.././resources/dp-remove-bg.png);
}
.bg .bg-container .side-b .dp:hover {
  background-image: url(.././resources/dp-remove-bg-gray.png);
  transform: scale(1.01, 1.01);
}
.bg .bg-container .side-b .soc-med {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
  opacity: 0;
  animation: fade 1s, slideToLeft 1s;
  animation-fill-mode: forwards;
  position: relative;
  animation-delay: 1s;
}

.flex-box {
  display: flex;
}
.flex-box .text {
  padding: 20px;
}
.flex-box .work-img {
  padding: 20px;
}

.work-container h1, .work-container h2, .work-container h3 {
  text-align: center;
}
.work-container .work-date, .work-container .work-date-diff {
  font-family: "Rubik", sans-serif;
}
.work-container .work-date {
  font-size: large;
}

.introduction .work-container .flex-box .text-img-box .img {
  padding: 10px;
  float: left;
}
.introduction .work-container .flex-box .text-img-box .img .myself-img {
  opacity: 0;
}
.introduction .work-container .flex-box .text-img-box .img img {
  width: 170px;
  height: 245px;
  position: relative;
}
.introduction .work-container .section-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduction .work-container .section-2 .img-carousel {
  background-color: rgba(67, 67, 67, 0.247);
  width: 800px;
  height: 500px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  font-family: "Moon Dance";
  font-size: 20px;
}
.introduction .work-container .section-2 .img-carousel .image-item {
  display: none;
  min-width: 100%;
  min-height: 100%;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}
.contact .contact-container {
  display: flex;
  flex-direction: column;
}
.contact .contact-container .contact-item {
  display: flex;
}
.contact .contact-container .contact-item h3 {
  padding-top: 5px;
  padding-left: 5px;
}

@media only screen and (max-width: 1160px) {
  .bg .bg-container {
    flex-direction: column;
    top: 20%;
  }
  .bg .bg-container .side-a .web-info {
    display: none;
  }
  .bg .bg-container .side-b {
    justify-content: center;
    max-height: 20%;
  }
  .bg .bg-container .side-b .dp {
    display: none;
  }
  .bg .bg-container .side-b .soc-med {
    flex-direction: row;
    padding-top: 0;
    max-height: 40%;
  }
  .main-content .work-container .flex-box .work-img {
    display: none;
  }
  .main-content .introduction .section-2 .img-carousel {
    max-width: 450px;
    max-height: 300px;
  }
}
@media only screen and (max-width: 750px) {
  .main-content .introduction .section-2 .img-carousel {
    max-width: 300px;
    max-height: 180px;
    padding: 20px;
    font-size: smaller;
  }
}/*# sourceMappingURL=style.css.map */